<div class="project-detail">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

    <div *ngIf="!loading">
        <app-header
            [activeSprintId]="activeSprint.id">
        </app-header>
        <div *ngIf="this.sprints.length > 0" class="card mt-4">
            <div class="card-header">
                <h4>Sprints</h4>
                <ul class="nav nav-pills">
                    <li class="nav-item" *ngFor="let sprint of sprints; let i = index">
                        <a class="nav-link project-detail_sprint" [ngClass]="{'active': sprint.active}"
                            (click)="changeSprint(i)">{{i + 1}}</a>
                    </li>
                </ul>
                Selected sprint: {{sprintStart}} - {{sprintEnd}}
            </div>
            <ul *ngIf="this.userStories" class="list-group">
                <li *ngFor="let userStory of userStories" class="list-group-item">
                    <app-user-story
                        [userStory]="userStory">
                    </app-user-story>
                </li>
            </ul>
        </div>
    </div>
</div>