.project-detail {
    &_user-story {
        cursor: pointer;
        &:hover {
            color: blue;
        }
    }

    &_sprint {
        cursor: pointer;
        &:hover {
            color: blue;
        }
    }
}