<div class="user-manager">
    <div class="card mt-4">
        <h1 class="card-header">Manage users</h1>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users && !loading" class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let user of users; let i = index">
                {{ user.firstName }} {{ user.lastName }}, {{ user.username }}
                <div class="user-manager_buttons">
                    <button [disabled]="authenticationService.currentUserValue.id != user.id" type="button"
                        class="btn btn-danger user-manager_button-item" (click)="deletUser(user.id)">Delete</button>
                    <button type="button" class="btn btn-primary user-manager_button-item"
                        (click)="updateUser(user.id)">Update</button>
                </div>
            </li>
        </ul>
    </div>
</div>