<div class="app">
  <!-- nav -->
  <nav class="navbar navbar-expand navbar-dark bg-primary" *ngIf="currentUser">
    <div class="container-fluid">
      <div class="nav navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Projects</a>
        <a *ngIf="this.isAdmin" class="nav-item nav-link" routerLink="/userManager">Manage users</a>
      </div>
      <div>
        <span class="navbar-brand app_navbar-brand">{{ currentUser.username }}</span>
      </div>
      <div class="nav navbar-nav navbar-right">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>

      <!-- <ul class="nav navbar-nav navbar-right">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ currentUser.firstName }} {{currentUser.lastName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 50px;">
          <a class="dropdown-item">Action</a>
          <a class="dropdown-item">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </li>
    </ul> -->
    </div>
  </nav>

  <app-alert></app-alert>

  <!-- main app container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <!-- credits -->
  <div class="text-center mt-4">
    <p>
    </p>
    <p>
    </p>
  </div>
</div>