.user-story {
    &_main {
        h3 {
            &:hover {
                color: blue;
                cursor: pointer;
            }
        }
    }
    &_buttons {
        float: right;
    }
    &_button-item {
        margin-left: 10px;
    }
}