.user-story {
    &_main {
        cursor: pointer;
        &:hover {
            h3 {
                color: blue;
            }
        }
    }
    &_engineering-task {
        cursor: pointer;
        &:hover {
            color: blue;
        }
    }
}