<div class="project-backlog">
    <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>

    <div *ngIf="!loading">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb project-backlog_breadcrumb">
                <li class="breadcrumb-item project-backlog_breadcrumb-item"><a
                        (click)="router.navigate(['/projects'])">projects</a></li>
                <li class="breadcrumb-item project-backlog_breadcrumb-item"><a (click)="location.back()">project
                        detail</a></li>
                <li class="breadcrumb-item active" aria-current="page">project backlog</li>
            </ol>
        </nav>
        <h1 class="mt-4">{{project.name}} backlog</h1>
        <div class="card mt-4">
            <div class="card-header">
                <h4>All User Stories</h4>
            </div>
            <ul class="list-group">
                <li *ngFor="let userStory of userStories" class="list-group-item">
                    <app-user-story [userStory]="userStory">
                    </app-user-story>
                </li>
            </ul>
        </div>
    </div>
</div>