.header {
    &_breadcrumb {
        background-color: white;
        &-item {
            cursor: pointer;
        }
    }
    &_buttons {
        float: right;
    }
    &_button-item {
        margin-left: 10px;
    }
}