<div class="project">
    <div class="card mt-4">
        <h1 class="card-header">Projects
            <div class="project_button">
                <button [disabled]="!canActivate" type="button" class="btn btn-primary" (click)="create()">New
                    Project</button>
            </div>

        </h1>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="projects && !loading" class="list-group list-group-flush">
            <li *ngFor="let project of projects" class="list-group-item">
                <h4>
                    <span class="project_item" (click)="getDetail(project.id)">{{ project.name }}</span>
                    <button [disabled]="!canActivate" type="button" class="btn btn-danger project_button-item"
                        (click)="delete(project.id)">Delete</button>
                </h4>
            </li>
        </ul>
    </div>
</div>