<div class="project">
    <div class="card mt-4">
        <h1 class="card-header">Projects
            <div class="project_buttons">
                <button type="button" class="btn btn-primary" (click)="create()">New
                    Project</button>
            </div>

        </h1>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="projects && !loading" class="list-group list-group-flush">
            <li *ngFor="let project of projects" class="list-group-item project_item" (click)="getDetail(project.id)">
                <h4>{{ project.name }}</h4>
                <!-- <div class="project_buttons">
                    <button type="button" class="btn btn-primary" (click)="getDetail(project.id)">Open</button>
                </div> -->
            </li>
        </ul>
    </div>
</div>